<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="externalURL">
            <h2><span jhiTranslate="musicIntelligenceApp.externalURL.detail.title">External URL</span> {{ externalURL.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="musicIntelligenceApp.externalURL.source">Source</span></dt>
                <dd>
                    <span>{{ externalURL.source }}</span>
                </dd>
                <dt><span jhiTranslate="musicIntelligenceApp.externalURL.href">Href</span></dt>
                <dd>
                    <span>{{ externalURL.href }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/external-url', externalURL.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
