<div>
    <h2 id="page-heading">
        <span jhiTranslate="musicIntelligenceApp.timbre.home.title">Timbres</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-timbre" [routerLink]="['/timbre/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="musicIntelligenceApp.timbre.home.createLabel">
            Create a new Timbre
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="timbres?.length === 0">
        <span jhiTranslate="musicIntelligenceApp.timbre.home.notFound">No timbres found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="timbres && timbres.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.timbre.timbre">Timbre</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let timbre of timbres ;trackBy: trackId">
                    <td><a [routerLink]="['/timbre', timbre.id, 'view']">{{ timbre.id }}</a></td>
                    <td>{{ timbre.timbre }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/timbre', timbre.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/timbre', timbre.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(timbre)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
