<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="image">
            <h2><span jhiTranslate="musicIntelligenceApp.image.detail.title">Image</span> {{ image.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="musicIntelligenceApp.image.height">Height</span></dt>
                <dd>
                    <span>{{ image.height }}</span>
                </dd>
                <dt><span jhiTranslate="musicIntelligenceApp.image.url">Url</span></dt>
                <dd>
                    <span>{{ image.url }}</span>
                </dd>
                <dt><span jhiTranslate="musicIntelligenceApp.image.width">Width</span></dt>
                <dd>
                    <span>{{ image.width }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/image', image.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
