<div>
    <h2 id="page-heading">
        <span jhiTranslate="musicIntelligenceApp.segment.home.title">Segments</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-segment" [routerLink]="['/segment/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="musicIntelligenceApp.segment.home.createLabel">
            Create a new Segment
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="segments?.length === 0">
        <span jhiTranslate="musicIntelligenceApp.segment.home.notFound">No segments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="segments && segments.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.segment.start">Start</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.segment.duration">Duration</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.segment.confidence">Confidence</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.segment.loudnessStart">Loudness Start</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.segment.loudnessMax">Loudness Max</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.segment.loudnessMaxTime">Loudness Max Time</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.segment.loudnessEnd">Loudness End</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.segment.pitches">Pitches</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.segment.timbre">Timbre</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.segment.audioAnalysis">Audio Analysis</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let segment of segments ;trackBy: trackId">
                    <td><a [routerLink]="['/segment', segment.id, 'view']">{{ segment.id }}</a></td>
                    <td>{{ segment.start }}</td>
                    <td>{{ segment.duration }}</td>
                    <td>{{ segment.confidence }}</td>
                    <td>{{ segment.loudnessStart }}</td>
                    <td>{{ segment.loudnessMax }}</td>
                    <td>{{ segment.loudnessMaxTime }}</td>
                    <td>{{ segment.loudnessEnd }}</td>
                    <td>
                        <span *ngFor="let pitches of segment.pitches; let last = last">
                            <a class="form-control-static" [routerLink]="['/pitch', pitches?.id, 'view']">{{ pitches.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td>
                        <span *ngFor="let timbre of segment.timbres; let last = last">
                            <a class="form-control-static" [routerLink]="['/timbre', timbre?.id, 'view']">{{ timbre.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td>
                        <div *ngIf="segment.audioAnalysis">
                            <a [routerLink]="['/audio-analysis', segment.audioAnalysis?.id, 'view']" >{{ segment.audioAnalysis?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/segment', segment.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/segment', segment.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(segment)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
