<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pitch">
            <h2><span jhiTranslate="musicIntelligenceApp.pitch.detail.title">Pitch</span> {{ pitch.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="musicIntelligenceApp.pitch.pitch">Pitch</span></dt>
                <dd>
                    <span>{{ pitch.pitch }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pitch', pitch.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
