<div>
    <h2 id="page-heading">
        <span jhiTranslate="musicIntelligenceApp.track.home.title">Tracks</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-track" [routerLink]="['/track/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="musicIntelligenceApp.track.home.createLabel">
            Create a new Track
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tracks?.length === 0">
        <span jhiTranslate="musicIntelligenceApp.track.home.notFound">No tracks found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tracks && tracks.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.track.discNumber">Disc Number</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.track.durationMS">Duration MS</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.track.explicit">Explicit</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.track.href">Href</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.track.idSpotify">Id Spotify</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.track.isPlayable">Is Playable</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.track.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.track.previewUrl">Preview Url</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.track.trackNumber">Track Number</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.track.uri">Uri</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.track.isLocal">Is Local</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.track.externalURL">External URL</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.track.audioAnalysis">Audio Analysis</span></th>
                    <th scope="col" ><span jhiTranslate="musicIntelligenceApp.track.audioFeatures">Audio Features</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of tracks ;trackBy: trackId">
                    <td><a [routerLink]="['/track', track.id, 'view']">{{ track.id }}</a></td>
                    <td>{{ track.discNumber }}</td>
                    <td>{{ track.durationMS }}</td>
                    <td>{{ track.explicit }}</td>
                    <td>{{ track.href }}</td>
                    <td>{{ track.idSpotify }}</td>
                    <td>{{ track.isPlayable }}</td>
                    <td>{{ track.name }}</td>
                    <td>{{ track.previewUrl }}</td>
                    <td>{{ track.trackNumber }}</td>
                    <td>{{ track.uri }}</td>
                    <td>{{ track.isLocal }}</td>
                    <td>
                        <div *ngIf="track.externalURL">
                            <a [routerLink]="['/external-url', track.externalURL?.id, 'view']" >{{ track.externalURL?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="track.audioAnalysis">
                            <a [routerLink]="['/audio-analysis', track.audioAnalysis?.id, 'view']" >{{ track.audioAnalysis?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="track.audioFeatures">
                            <a [routerLink]="['/audio-features', track.audioFeatures?.id, 'view']" >{{ track.audioFeatures?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/track', track.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/track', track.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(track)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
